.userModalInput input {
  width: 320px;
  padding: 15px 10px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  color: #d8303a;
  font-weight: 900;
  letter-spacing: 1px;
  font-family: Raleway, serif;
  background: rgb(19, 19, 19);
  border: none;
}

.userInputBottomSection textarea {
  width: 640px;
  height: 200px;
  padding: 15px 10px;
  font-size: 25px;
  border-radius: 5px;
  outline: none;
  color: #d8303a;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Raleway, serif;
  background: rgb(19, 19, 19);
  border: none;
}

.inputDropdowns select option {
    background: rgb(16, 16, 16);
    border-radius: 20px;
  }

.userMidSection p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

.userMidSection::-webkit-scrollbar {
  width: 9px;
  border-radius: 20px;
  background: none;
}

.userMidSection::-webkit-scrollbar-track {
  background: rgb(60, 60, 60);
  border-radius: 20px;
}

.userMidSection::-webkit-scrollbar-thumb {
  background-color: #d8303a;
  border-radius: 10px;
}

.userModalContainer button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: rgb(21, 21, 21);
  border: none;
  color: rgb(142, 142, 142);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}


